<p-toolbar>
  <div class="p-toolbar-group-start">
    <img
      src="img_1.png"
      alt="logo"
      class="header-logo border-round"
      (click)="home()"/>
  </div>
  <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Search" />
      </span>
  </div>
  <div class="p-toolbar-group-end">
    <div class="flex align-items-center gap-2">
      <p-button *ngIf="isLoggedIn()" (click)="profil()">
      <span class="font-bold text-bluegray-50">
          Profil
      </span>
      </p-button>
      <p-button *ngIf="!isLoggedIn()" (click)="login()">
        Login
      </p-button>
      <p-button *ngIf="isLoggedIn()" (click)="logout()">Logout</p-button>
    </div>
  </div>

</p-toolbar>

