
<div class="p-card">
  <p-table [value]="clans" [tableStyle]="{'min-width':'60rem'}">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Clans
        <p-button icon="pi pi-refresh" (click)="reloadData()"/>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>President</th>
        <th> status</th>
        <th> Required Trophies</th>
        <th>Club Trophies </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clan>
      <tr (click)="goToClanProfile(clan.id)" >
        <td>{{clan.name}}</td>
        <td>{{clan.president}}</td>
        <td>{{getStatus(clan.isPrivate)}}</td>
        <td >{{clan.minimumTrophies}}</td>
        <td>
          <p>
            la somme des trophees de chacun
          </p>
        </td>
      </tr>

    </ng-template>
  </p-table>

</div>


