<p>user-detail works!</p>

<!-- <div class="concept">
    <h2>Liste des utilisateurs</h2>

    <table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track $index) {
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
    </table>
</div> -->
