.profile-page{
  margin: 0.5rem;
}

.profile-content{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.avatar-container{
  text-align: center;
}

/* Section principale du profil */
//.profile-card {
//  text-align: center;
//}
//
///* Contenu du profil */
//.profile-content {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  gap: 1rem;
//}
//
///* Avatar */
//.avatar-container {
//  display: flex;
//  justify-content: center;
//  margin-top: 1rem;
//}
//
///* Titre stylisé */
//.game-title {
//  font-family: 'Orbitron', sans-serif;
//  font-size: 1.5rem;
//  margin-bottom: 0.5rem;
//}
//
///* Nom d'utilisateur */
//.username {
//  font-size: 1rem;
//  color: #676767;
//  font-family: 'Orbitron', sans-serif;
//  margin: 0.5rem 0;
//}
//
///* Informations de contact */
//.contact-info {
//  font-size: 0.9rem;
//  color: #222222;
//  background: rgba(0, 0, 0, 0.05);
//  padding: 0.5rem;
//  border-radius: 8px;
//}
//
///* Groupe de boutons pour l'action */
//.button-group {
//  display: flex;
//  gap: 1rem;
//  justify-content: center;
//  margin-top: 1rem;
//}
