<div class="profile-page">
  <p-card class="profile-card">
    <div class="profile-content">
      <div class="avatar-container">
        <p-image
          src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
          alt="Image"
          width="250"
        />
      </div>

      <div class="user-info">
        <h2>{{ user.firstname }} {{ user.lastname }}</h2>
        <p class="username">{{ user.username }}</p>
        <div class="contact-info">
          <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <div class="actions">
          <p-button label="Edit Profile" icon="pi pi-pencil" class="p-button-outlined"></p-button>
        </div>
      </div>
    </div>
  </p-card>
</div>
