// Conteneur pour le bouton "PLAY" en haut
.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;  // Espace sous le bouton pour séparer de la table
}

app-play-button {
  width: 200px;           // Largeur personnalisée pour le bouton
  height: 80px;           // Hauteur personnalisée pour le bouton
  font-size: 1.5rem;      // Taille de la police pour le texte "PLAY"
}

// Conteneur principal pour aligner la table et les panneaux latéraux
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

// Style des panneaux latéraux
.side-panel {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Contenu principal (tableau)
.main-content {
  width: 80%;
  display: flex;
  justify-content: center;
}

app-table-ranking {
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
